<h1>Hola Mundo</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<p>3+3={{ 3 + 3 }}</p>
<h3>hola, soy {{ name }} y tengo {{ age }} años</h3>
<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<hr />
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<p>Edad {{ person.age }}</p>
<button (click)="ageIncrease()">age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nulla dolorem
    dignissimos velit debitis aliquid molestiae, praesentium vitae, provident
    repellat quis. Dolorem, error placeat? Eveniet tempora accusantium esse
    fugit dignissimos! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Quia voluptates veniam ut minima ullam alias deserunt cumque dolor
    reiciendis aspernatur laboriosam quaerat vero tempora aut numquam, omnis
    recusandae unde officia!
  </p>
</div>
<p>nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<p>
  link de eventos:
  https://www.eduforbetterment.com/lists-of-useful-events-types-for-event-binding-in-angular/
</p>

<hr />
<h1>ngModels y biding</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<input
  type="number"
  max="27"
  min="10"
  required
  #ageInput="ngModel"
  [(ngModel)]="person.age"
/>
<p>Valid: {{ ageInput.valid }}</p>

<hr />
<h1>ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<input type="number" required [(ngModel)]="person.age" />
<p *ngIf="person.name === 'Andre' && person.age === 27; else myBlock">
  My Content
</p>
<ng-template #myBlock>
  <p>bloque de else</p>
</ng-template>
<hr />
<h1>*ngFor</h1>
<button (click)="addName()">agregar</button>
<input type="text" [(ngModel)]="newName" />
<ul>
  <li *ngIf="names.length === 0">lista vacia</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }}<button (click)="deleteName(i)">delete</button>
  </li>
</ul>
<hr />
<h1>ngFor Object</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<hr />
<h1>ngSwitch</h1>
<input type="number" [(ngModel)]="person.age" />
<div [ngSwitch]="person.age">
  <p *ngSwitchCase="27">Andre</p>
  <p *ngSwitchCase="26">Alejo</p>
  <p *ngSwitchCase="28">Diego</p>
  <p *ngSwitchDefault>No hace match</p>
</div>

<hr />
<h1>Class & Styles</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">
  texto texto texto
</p>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr
  class="line-error"
  [ngClass]="{
    valid: nameInput4.valid,
    invalid: nameInput4.invalid
  }"
/>
<hr />
<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input
      type="text"
      name="name"
      required
      id="name"
      [(ngModel)]="register.name"
    />
    <p>mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      required
      id="email"
      [(ngModel)]="register.email"
    />
    <p>mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input
      type="password"
      required
      name="password"
      id="password"
      [(ngModel)]="register.password"
    />
    <p>mensaje de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
</form>
